<tr class="{{clauseClass applicability}}">
  <td class="clause-code">{{code}}</td>
  <td class="clause-title">{{title}}</td>
  <td class="applicability">{{applicability}}</td>
  <td class="photo-refs">{{photoRef photoRefs}}</td>
  <td class="observations">{{observations}}</td>
  <td class="docs-provided">{{#each docsProvided}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}</td>
  <td class="compliance-text">{{complianceText}}</td>
  <td class="remedial">{{remedialWorks}}</td>
</tr>
